<div class="layui-side-scroll">
    <ul class="layui-nav layui-nav-tree" style="margin-top: 15px;">
        <li class="layui-nav-item layui-nav-itemed">
            <a href="javascript:;"><i class="layui-icon layui-icon-home"></i>&emsp;<cite>主页</cite></a>
            <dl class="layui-nav-child">
                <dd class="layui-this">
                    <a lay-href="home/console">控制台</a>
                </dd>
            </dl>
        </li>

        <% for(menu in menus) { %>
        <li class="layui-nav-item">
            <a lay-href="${menu.menuUrl}"><i class="layui-icon ${menu.menuIcon}"></i>&emsp;<cite>${menu.menuName}</cite></a>
            <% if(menu.subMenus.~size>0) { %>
            <dl class="layui-nav-child">
                <% for(subMenu in menu.subMenus) { %>
                <dd>
                    <a lay-href="${subMenu.menuUrl}">${subMenu.menuName}</a>

                    <% if(subMenu.subMenus.~size>0) { %>
                    <dl class="layui-nav-child">
                        <% for(temp in subMenu.subMenus) { %>
                        <dd>
                            <a lay-href="${temp.menuUrl}">${temp.menuName}</a>
                        </dd>
                        <% } %>
                    </dl>
                    <% } %>
                </dd>
                <% } %>
            </dl>
            <% } %>
        </li>
        <% } %>

        <li class="layui-nav-item">
            <a href="javascript:;"><i class="layui-icon layui-icon-senior"></i>&emsp;<cite>系统监控</cite></a>
            <dl class="layui-nav-child">
                <dd><a lay-href="iframe?url=druid">Druid监控</a></dd>
            </dl>
        </li>

        <li class="layui-nav-item">
            <a href="javascript:;"><i class="layui-icon layui-icon-unlink"></i>&emsp;<cite>多级菜单</cite></a>
            <dl class="layui-nav-child">
                <dd>
                    <a href="javascript:;">二级菜单</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">三级菜单</a></dd>
                        <dd><a href="javascript:;">三级菜单</a></dd>
                    </dl>
                </dd>
            </dl>
        </li>

        <li class="layui-nav-item">
            <a href="javascript:;"><i class="layui-icon layui-icon-unlink"></i>&emsp;<cite>一级菜单</cite></a>
        </li>
    </ul>
</div>